<div class="page-header">
  <h1><%= @store.name %> Dashboard </h1><br />
  <%= link_to 'Edit Store Details', edit_store_path(@store), 
  :class => "btn-info btn-large" %>

  <%= link_to "Manage Orders", store_store_orders_path(current_store), 
    :class => "btn-info btn-large" %>

  <%= link_to "Manage Products", store_stocker_dashboard_path(current_store), 
    :class => "btn-info btn-large" %>

  <%= link_to "Manage Categories", store_categories_path(current_store), 
    :class => "btn-info btn-large" %>

  <%= link_to "Manage Employees", store_employees_path(current_store), 
    :class => "btn-info btn-large" %>

</div>
<br/>
<br/>
<div class="well">
  <h2>Total revenue: <%= number_to_currency(Order.revenue(current_store)) %></h2>
  <h2>Total Orders: <%= @orders.count %></h2>
</div>
<br />
<br />
<div class="well">
  <h2>Total Categories: <%= @categories.count %></h2>
</div>
<br />
<br />
<div class="well">
  <h2>Active products: <%= @products.where(activity: true).count %></h2>
  <h2>Retired products: <%= @products.where(activity: false).count %></h2>
</div>
<br />
<br />
<div class="well">
  <h2>Active Managers: <%= current_store.count_managers %></h2>
  <h2>Active Stockers: <%= current_store.count_stockers %></h2>
</div>



