<div class="page-header">
  <h1><%= @store.name %> Dashboard </h1><br />
  <%= link_to 'Edit Store Details', edit_store_path(@store), 
  :class => "btn-info btn-large" %>

  <%= link_to "Manage Orders", store_store_orders_path(current_store), 
    :class => "btn-info btn-large" %>

  <%= link_to "Manage Products", store_stocker_dashboard_path(current_store), 
    :class => "btn-info btn-large" %>

  <%= link_to "Manage Categories", store_categories_path(current_store), 
    :class => "btn-info btn-large" %>

  <%= link_to "Manage Employees", store_employees_path(current_store), 
    :class => "btn-info btn-large" %>

</div>
<br />
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#home">Daily Revenue</a></li>
  <li><a href="#profile">Category Revenue</a></li>
  <li><a href="#messages">Power Spenders</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="home">
    <div id="test" style="height: 350px; min-width: 500px"></div>
  </div>
  <div class="tab-pane" id="profile">
    <div id="pie" style="height: 350px; min-width: 500px; padding-left: 225px;"></div>
  </div>
  <div class="tab-pane" id="messages">
    <div id="bar" style="height: 350px; width: 71%;"></div>
  </div>
</div>
<br />
<br />
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="well">
        <h2>Total revenue: <%= number_to_currency(Order.revenue(current_store)) %></h2>
      </div>
    </div>
    <div class="span6">
      <div class="well">
        <h2>Total Orders: <%= @order %></h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="well">
        <h2>Total Categories: <%= @categories.count %></h2>
      </div>
    </div>
    <div class="span6">
      <div class="well">
        <h2>Active products: <%= @product %></h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="well">
        <h2>Active Managers: <%= current_store.count_managers %></h2>
      </div>
    </div>
    <div class="span6">
      <div class="well">
        <h2>Active Stockers: <%= current_store.count_stockers %></h2>
      </div>
    </div>
  </div>
</div>
<br />
<br />




