<div class="page-header">
  <h1><%= @store.name %> Dashboard </h1><br />
  <%= link_to 'Edit Store Details', edit_store_path(@store), 
  :class => "btn-info btn-large" %>

  <%= link_to "Manage Orders", store_store_orders_path(current_store), 
    :class => "btn-info btn-large" %>

  <%= link_to "Manage Products", store_stocker_dashboard_path(current_store), 
    :class => "btn-info btn-large" %>

  <%= link_to "Manage Categories", store_categories_path(current_store), 
    :class => "btn-info btn-large" %>

  <%= link_to "Manage Employees", store_employees_path(current_store), 
    :class => "btn-info btn-large" %>

</div>
<br />

<div id="test" style="height: 500px; min-width: 500px"></div>
<div id="pie" style="height: 500px; min-width: 500px"></div>
<div id="bar" style="height: 500px; min-width: 500px"></div>
