<h1>Account Settings for <%= @user.full_name %></h1>

  <%= simple_form_for @user, :html => { :class => 'form-vertical' } do |f| %>
  <%= f.input :full_name %>
  <%= f.input :email %>
  <%= f.input :username %>
  <%= f.input :display_name %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, :class => 'btn btn-large btn-info' %>
<% end %>

