<h1>Log In</h1>

<!-- this is where we'll want people to either login with email or username -->
<%= form_tag sessions_path, :class=>'well' do %>
  <label>
          <%= "Email or username" %></label>
          <%= text_field_tag :account_name, params[:account_name] %>
  <label>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
  </label>
  <div class="actions">
    <%= submit_tag "Log In", :class => 'btn', :id => "checkout_login" %>
    or
    <%= link_to "Sign Up?", new_user_path, :class => 'btn' %>
  </div>
<% end %>
 
<%= form_tag new_visitor_order_path,:method => :get, :class=>'well' do %>
<label>
    <%= "Email" %></label>
    <%= email_field_tag :guest_email, params[:guest_email] %>
    <div class="actions">
    <%= submit_tag "Checkout as Guest", :class => 'btn' %>
  </div>
<% end %>

