<%= form_for @new_store do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "store_name" %>
  </div>
  <div class="field">
    <%= f.label :url_name %><br />
    <%= f.text_field :url_name %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.hidden_field :owner_id, :value => current_user.id %>
  </div>

  <div class="actions"><br />
    <%= f.submit %>
  </div>
<% end %>
