%h1 Listing stores

%table
  %tr
    %th Name
    %th Active
    %th
    %th
    %th

  - @stores.each do |store|
    %tr
      %td= store.name
      %td= store.active
      %td= link_to 'Show', store
      %td= link_to 'Edit', edit_store_path(store)
      %td= link_to 'Destroy', store, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Store', new_store_path
