<h1>Sign-up!</h1>
<%= render :partial => 'shared/errors', :locals => { :target => @user } %>
<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
