<div class = "center">

<h2 id="registration_page">Please enter your details</h2>

<%= form_for @user, :url => users_path(:last_page => session[:last_page]) do |f| %>

  <%= render 'shared/errors', :object => @user, :field => :email %>
  <%= f.text_field :email, :placeholder => "E-mail Address", :id => "email"%>
  <br />
  <%= render 'shared/errors', :object => @user, :field => :name %>
  <%= f.text_field :name, :placeholder => "Name", :id => "name" %>
  <br />
  <%= render 'shared/errors', :object => @user, :field => :display_name %>
  <%= f.text_field :display_name, :placeholder => "Display Name", :id => "display_name" %>
  <br />
  <%= render 'shared/errors', :object => @user, :field => :password %>
  <%= f.password_field :password, :placeholder => "Password", :id => "password" %>
  <br />
  <%= render 'shared/errors', :object => @user, :field => :password_confirmation %>
  <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :id => "password_confirmation" %>
  <br />

  <%= f.submit "Create Account", :class => "btn btn-large btn-primary" %>
<% end %>

</div>