<h1>Your Stores</h1>

<br/>
<%= link_to "Create A Store", new_store_path, :class => "btn-primary btn-large"%>
<br/>
<br/>

<% if @user.stores.count > 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Slug</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody> 
    <% @user.stores.each do |store| %>
      <tr>
        <td><%= link_to store.name, store_path(store) %></td>
        <td><%= (store.description || "(blank)").truncate(32) %></td>
        <td><%= store.slug %></td>
        <td><%= store.status %></td>
        <td>
          <%= link_to "Administer", store_dashboard_path(store), 
              :class => "btn" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
