<h1>Account Page for <%= @user.name %></h1>
</br>
<h3>Here's what is in your cart right now:</h3>
<%= render :partial => "shared/cart" %>
<h3>Past Orders:</h3>
 <div id="orders">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Date Placed</th>
          <th>Status</th>
          <th>Total</th>
          <th>Unique URL</th>
          <th>Date Shipped</th>
          <th>Date Returned</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.orders.each do |order| %>
        <tr>
          <td>
            <a class="btn" data-toggle="modal" href="#<%= dom_id order %>_detail" >View Order</a>
          </td>
          <td>
            <%= order.created_at.strftime("%m/%d/%Y") %>
          </td>
          <td>
            <%= order.status %>
          </td>
          <td>
            <%= order.total %>
          </td>
          <td>
            <%= link_to order_url(order), order_url(order) %>
          </td>
          <td>
            <%= order.shipped %>            
          </td>
          <td>
            <%= order.returned %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% current_user.orders.each do |order| %>
    <div class="modal hide" id="<%= dom_id order %>_detail">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Order from <%= order.user.name %> on <%= order.created_at.strftime("%B %e, %Y %l:%M %p") %></h3>
        <h3><%= order.status.capitalize %></h3>
      </div>
      <div class="modal-body">
        <h4><%= order.user.name %>: <%= order.user.email %></h4>
        <hr>
        <div class="span5 product-titles">
          <div class="span1"></div>
          <div class="span1">Product</div>
          <div class="span1">Price</div>              
          <div class="span1">Quantity</div>
          <div class="span1">Subtotal</div>
        </div>
        <% order.order_items.each do |item| %>
           <div class="span5 product-listing">
            <hr>
            <div class="span1"></div>
            <div class="span1">
              <%= link_to item.product.title, product_path(item.product) %>
            </div>       
            <div class="span1">$<%= item.decimal_price %></div>
            <div class="span1"><%= item.quantity %></div>
            <div class="span1">
              $<%= item.decimal_total %>
            </div>
          </div>
        <% end %>
      </div>
      <hr>
       <h3 class = "order-total">Total: $<%= order.decimal_total %></h3>
       <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div>
  <% end %>