= simple_form_for [:admin, @store] do |f|
  %legend= legend_title
  = f.input :name
  = f.input :description
  = f.input :url
  - if current_user.admin?
    = f.input :active
    = f.input :enabled
  = f.submit :class => 'btn btn-primary controls'