<h1>SUPER ADMIN STORES DASHBOARD</h1>

<h3>Stores Summary<h3><br />
<table class="table table-bordered table-striped">
  <tr>
    <th>Store Name</th>
    <th>Store Url</th>
    <th>Description</th>
    <th>Pending?</th>
    <th>Actions</th>
    <th>Administer</th>
  </tr>

<% @stores.each do |store| %>
<tr id="<%= store.url_name %>">
  <td><%= store.name %></td>
  <td><%= store.url_name %></td>
  <td><%= truncate(store.description, :length=>32) %></td>
  <td><%= store.approved.nil? %></td>
  <td><%= store_actions_by_status(store) %></td>
  <td><%= link_to "Administer", "http://woracesworkshop.herokuapp.com" %></td>
</tr>
<% end %>

</table>