%h1 Listing stores
- @stores.each do |store|
  %table
    %tr
      %th Name
      %th Description
      %th Status
      - if store.status == "pending"
        %th Request Approval
      - elsif store.status == "approved"
        %th Active
        %th Enabled
      %th Actions

    %tr
      %td= store.name
      %td= store.description
      %td= store.status
      - if store.status == "pending"
        %td= "#{link_to "Approve", approve_admin_store_path(store), method: :put}".html_safe + " or" + " #{link_to "Decline", decline_admin_store_path(store), method: :put}".html_safe
      - elsif store.status == "approved"
        %td= store.active
        %td= store.enabled
      %td= link_to 'Show', admin_store_path(store)
      %td= link_to 'Edit', edit_admin_store_path(store)
      %td= link_to 'Destroy', admin_store_path(store), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Store', new_admin_store_path
