<h1>Administrator Dashboard</h1>
<br>
<div id="filters">
  <% @filters.each do |filter| %>
    <%= link_to "#{filter.status.capitalize}: #{@statuses[filter.status]}", orders_path(:filter => filter.status), :class => "btn btn-info"%>
  <% end %>
</div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Status</th>
      <th>Name</th>
      <th>Email</th>
      <th>Order Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr id="<%= dom_id order %>">
        <td>
          <button class="btn btn-success" data-toggle="collapse" data-target="div#<%= dom_id order %>_detail">
            View Order
          </button>
        </td>
        <td><%= order.status.capitalize %></td>
        <td><%= order.user.name %></td>
        <td><%= order.user.email %></td>
        <td><%= order.created_at.strftime("%B %e, %Y %l:%M %p") %></td>
        <td>
          <% case order.status %>
          <% when "pending" %>
            <%= link_to "Cancel Order", order_path(order, :order => {:status => "canceled" }), :method => :put, :class => "btn btn-warning" %>
          <% when "shipped" %>
            <%= link_to "Mark As Returned", order_path(order, :order => {:status => "returned" }), :method => :put, :class => "btn btn-primary" %>
          <% when "paid" %>
            <%= link_to "Mark As Shipped", order_path(order, :order => {:status => "shipped" }), :method => :put, :class => "btn btn-success" %>
          <% end %>
          <%= link_to 'Edit', edit_order_path(order), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', order_path(order), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
      <div id = "<%= dom_id order %>_detail" class="collapse">
        <tr>
          <th>Product</tdh>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
        <% order.products.each do |product| %>
          <tr>
            <td><%= product.title %></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </div>
    <% end %>
  </tbody>
