<div class="page-header">
<h1><%= current_store.name %></h1>
</div>
<h1>Your Orders</h1>
<br />
<table class="table table-striped table-condensed" id="orders">
  <thead>
    <th>Order ID</th>
    <th>Created</th>
    <th>Products</th>
    <th>Total Price</th>
    <th>View Order</th>
  </thead>
  <tbody>
      <% @orders.each do |order| %><tr>
      <td><%= link_to order.id, store_order_path(current_store, order) %></td>
      <td><%= order.created_at.strftime("%m/%d/%Y  %I:%M%p") %></td>
      <td><% order.products.each do |t| %>
            <%= t.title %>,
          <% end %></td>
      <td><%= number_to_currency(order.total_price) %></td>
      <td><%= link_to "View", store_order_path(current_store, order), 
              :class => "btn btn-mini" %></td>
      </tr><% end %>
  </tbody>
</table>
