   <h3>Order from <%= @order.customer.user.name %> on <%= @order.created_at.strftime("%B %e, %Y %l:%M %p") %></h3>
     <h3>Status: <%= @order.status.capitalize %></h3>
  <h4><%= @order.user.name %>: <%= @order.user.email %></h4>
 <%= render partial: "show_order" %>
<hr>
<h3 class = "order-total">Total: $<%= @order.decimal_total %></h3>