= simple_form_for @page do |f|
  %legend= legend_title
  = f.input :name
  = f.input :body, :input_html => { :rows => 10, :style => 'width: 300px' }
  = f.submit :submit, :class => 'btn btn-primary controls'
