.hero-unit
  %h1 Polutropon Gear Stores
  %p Customize your ride with gear from top speciality providers

%ul.thumbnails
  - @store.each do |store|
    %li.span3
      .thumbnail
        - if store.products.first
          = link_to image_tag(store.products.first.avatar, {style: "width:210px; height:210px;"}), subdomain_path(store.url)
        - else
          = link_to image_tag("/avatars/original/missing.png",  {style: "width:210px; height:210px;"}), subdomain_path(store.url)
        %h3
          = store.name 
        %p 
          = store.description
= will_paginate @store