<div class="page-header">
<h1><%= current_store.name %></h1>
</div>
<%= form_for([current_store, @cart_item]) do |ci| %>
<p><%= ci.label :quantity %> <br />
   <%= ci.number_field :quantity, :size => 100, :min => 1 %>
</p>

<p> 
  <%= ci.submit :class => 'btn btn-medium btn-info' %>
</p>

<% end %>