<div class="row"> 
  <div class="span5"><h1>Edit <%= "#{ @product.name }" %></h1></div>
</div>
<div class="retire">
  <%= retire_button(@product) %>
</div>
<%= render 'form' %>
<%= link_to 'Show product page', @product %> |
<%= link_to 'Back to products list', admin_products_path %>
