<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>


      <%= f.text_field :title, :class => 'search-query span2', :placeholder => "Product Name" %>

      <%= f.text_field :image_url, :class => 'search-query span2', :placeholder => "Image URL" %>
      <br>
      <br>
      <%= f.text_area :description, :class => 'text_area', :placeholder => "Product Description" %>



    <%= hidden_field_tag "product[category_ids][]", nil %>
    <ul>
      <% Category.all.each do |category| %>
      <%= label_tag dom_id(category), category.name, :class => "checkbox" %>
      <%= check_box_tag "product[category_ids][]", category.id, @product.category_ids.include?(category.id), id: dom_id(category), :class => "checkbox" %>
      <% end %>
    </ul>




      <div class="input-prepend input-append">
        <span class="add-on">$</span>
        <%= f.number_field :price, :class => 'number_field', :placeholder => "Price" %>
      </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', products_path, :class => 'btn' %>
  </div>

<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $('#preview').src = $('#image_url').text();
  $('#image_url').bind("focusout",function(){
    $('#preview').src = this.text();
  });
});
</script>
