<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>

<fieldset>
  <legend>Product</legend>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_url, :class => 'text_field', id: "image_url" %>
    </div>
  </div>

  Preview: <img id="preview" src="">

  <div class="control-group">
    <%= select_tag("category_ids[]", options_for_select(@categories.collect { |cat| [cat.name, cat.id] }, @product.categories.collect { |cat| cat.id}), {:multiple=>true, :size=>6})%>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :price, :class => 'number_field' %>
    </div>
  </div>
  <% if current_user && current_user.is_admin %>
  <div class="control-group">
    <%= f.label :on_sale, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :on_sale, :class => 'check_box' %>
    </div>
  </div>
  <% end %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', products_path, :class => 'btn' %>
  </div>
</fieldset>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
  $('#preview').src = $('#image_url').text();
  $('#image_url').bind("focusout",function(){
    $('#preview').src = this.text();
  });
});
</script>
