<% "Search" %>
<div class="page-header">
<h1><%= current_store.name %></h1>
</div>
  <% if @top_selling && !params[:search] && !params[:page] %>
  <div class="hero-unit">
    <div class="row-fluid"> 
      <div class="span7">
        <h1><%=  @top_selling.title %></h1>
        <p><%=  @top_selling.description.truncate(500) %></p>
        <div id="info">
          <p id="price"><%= number_to_currency(@top_selling.price) %>
          <%= link_to "Add to Cart", store_cart_items_path(current_store, 
                                                       :product_id => @top_selling), 
          :method => :post, :remote => true, 
          :id => "product_#{@top_selling.id}", :class => "btn" %>
        </div>
      </div>
      <div class="span5">
        <%= image_tag(@top_selling.image_link) %>
      </div>
    </div>
  </div>
  <% end %>
  


<div class="page-header">
  <h1>Products</h1>
</div>


<ul class="nav nav-pills">
  <li><%= link_to "All Products", store_products_path(current_store) %></li>
  <% @categories.all.each do |c| %>
    <li><%= link_to c.title, store_category_path(c.store, c) %></li>
  <% end %>
</ul>

<ul class="thumbnails">
<% @products.each_slice(2) do |items_for_row| %>
<li class="span6">
  <%= render :partial => "product", :collection => items_for_row, :as => :product %>
</li>
<% end %>
</ul>

<%= paginate @products %>

 <%= render :partial => "addresses/address", :collection => @addresses %>
