<h1>Products</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <% if current_user && current_user.is_admin %>
      <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.title, product_path(product) %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <% if current_user && current_user.is_admin %>
          <td>
            <%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-mini' %>
            <%= link_to 'Destroy', product_path(product), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_product_path, :class => 'btn btn-primary' %>
