<div id="droppable">Drag image here to add to cart</div>

<h1>Product</h1>

<p>
  <b>Title</b><br>
  <%= @product.title %>
</p>
  <%= image_tag @product.image_url, :id => "draggable" %>
<p>
  <b>Description</b><br>
  <%= @product.description %>
</p>

<p>
  <b>Price</b><br>
  <%= @product.price %>
</p>

<p>
  <b>Categories</b><br>
  <ul>
  <% @product.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
  </ul>
</p>

<div class="form-actions">
  <%= link_to 'Back', products_path, :class => 'btn'  %>
  <%= link_to 'Add to Cart', cart_path(:product => @product), :method => :put, :class => 'btn', :id => "add-to-cart-button" %>
  <% if current_user %>
    <%= link_to image_tag('one-click.png'), one_click_path(:product => @product), :confirm => "Are you sure you want to spend your hard earned money on this crap?" %>
  <% end %>
  <% if current_user && current_user.is_admin %>
    <%= link_to 'Edit', edit_product_path(@product), :class => 'btn' %>
    <%= link_to '<i class= "icon-trash icon-white"></i> Delete'.html_safe,
      product_path(@product), :method => 'delete', :confirm => 'Are you sure?',
        :class => 'btn btn-danger' %>
  <% end %>
</div>
