<!DOCTYPE html>
<html>
<head>
  <title>StoreEngine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>
<body>
  <%= render partial: "shared/nav_bar" %>
  <div class="container">
    <div class="row">
      <div class="span3">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="main span9">
        <% unless flash[:message] == nil || flash[:message] == "" %>
        <div class="alert">
          <a class="close" data-dismiss="alert">×</a>
          <%= flash[:message] %>
        </div>
        <% end %>
        <%= yield %>
      </div>
    </body>
    </html>
