<!DOCTYPE html>
<html>
<head>
  <title>StoreEngine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log out", logout_path %>
<% else %>
  <%= link_to "Sign up", signup_path %> or
  <%= link_to "log in", login_path %>.
<% end %>
  <div class="container_12 clearfix">
    <div class="sidebar grid_2">
      <%= render 'shared/sidebar' %>
    </div>

    <div class="main grid_10">
      <%= yield %>
    </div>
  </div>
</body>
</html>
