<!DOCTYPE html>
<html>
<head>
  <title>StoreEngine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => "pk_KY4KeuSEU0hQK1hgaVKItVaj0BvQ7" %>
</head>
<body>
  <div id="navigation-bar">
    <%= render partial: "shared/nav_bar" %>
  </div>
  <div class="container" id="content">
    <div class="main">
      <% unless flash[:message] == nil || flash[:message] == "" %>
        <div class="alert">
          <a class="close" data-dismiss="alert">×</a>
          <%= flash[:message] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <%= render "shared/footer"%>
  </div>
</body>
</html>
